h1 Cabin
p 
  span Cabin is &nbsp;
  span(class="label success") New
  span &nbsp; but &nbsp;
  span(class="label warning") warning
  span &nbsp; it's still in progress.
.query

#result-header
  h2 Here's what I found... &nbsp;
  button(id="clear-results-button", class="btn danger") Clear Results!
  
h2#empty-results-header Err... nevermind, didn't find anything. Try again!
#results

script(id="query-template", type="text/x-handlebars-template").
  <div class="query">
    <form id="query-form" method="get" action="/query.json">
      <p><label for="host">Host:</label><input type="text" name="host" placeholder="hostname" /></p>
      <p>
        <p>
          <label for="timestampFrom">Timestamp From:</label>
          <input type="number" name="timestampFrom" placeholder="12345678"  />
        </p>
        <p>
          <label for="timestampTo">Timestamp To:</label>
          <input type="number" name="timestampTo" placeholder="23456789"  />
        </p>
      </p>
      <p><label for="application">Application:</label><input type="text" name="application" placeholder="Your App Name" /></p>
      <p><label for="location">Location:</label><input type="text" name="location" placeholder="MyFileName.rb:123 (line # optional)" /></p>
      <p><label for="tags">Tags:</label><input type="text" name="tags" placeholder="Tag1, Tag2, Tag3" /></p>
      <p><label for="severity">Severity:</label><input type="text" name="severity" placeholder="info" /></p>
      <p><label for="message">Message:</label><input type="text" name="message" placeholder="Client ABC tried to access /blah" /></p>
      <p>
         <input type="submit" class="btn primary" value="Query Away!" />
         &nbsp;&nbsp;
         <input type="reset" class="btn danger" value="Clear This Form!" />
      </p>
    </form>
  </div>
  
script(id="logs-list-template", type="text/x-handlebars-template").
  <table id="logs-table" class="bordered-table zebra-striped">
    <thead>
      <tr class="logs-headers-row">
        <th>Host</th>
        <th>Timestamp</th>
        <th>Application</th>
        <th>Location</th>
        <th>Tags</th>
        <th>Severity</th>
        <th>Message</th>
      </tr>
    </thead>

    <tbody>
      {{#each logs}}
        <tr class="log-row">
          <td>{{this.host}}</td>
          <td>{{this.timestamp}}</td>
          <td>{{this.application}}</td>
          <td>{{this.location}}</td>
          <td class="max-width-column">{{logTags this.tags}}</td>
          <td>{{this.severity}}</td>
          <td class="max-width-column">{{this.message}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

script(type="text/javascript")
  $(document).ready(function() {
    Handlebars.registerHelper("logTags", function(tags) {
      return tags.join(", ");
    });
    $("#clear-results-button").click(function(e) {
      $("#result-header").hide();
      $("#empty-results-header").hide();
      $("#results").empty();
    });

    var queryTemplate = $("#query-template").html();
    var template = Handlebars.compile(queryTemplate);
    $(".query").html(template());

    $("#query-form").submit(function(e) {
      e.preventDefault();
      var query = $(this).serialize();
      $.get("/query.json?" + query, function(data) {
        $("#result-header").show();
        $("#results").empty();
        if (data.logs.length === 0) {
          $("#empty-results-header").show();
          return;
        } else {
          $("#empty-results-header").hide();
        }
        
        var resultsTemplate = $("#logs-list-template").html();
        var results = Handlebars.compile(resultsTemplate);
        var renderedLogs = results({logs: data.logs});
        $("#results").html(renderedLogs);        
        $("#logs-table").tablesorter();
      });      
    });
  });
