!!! 5
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/bootstrap_min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/javascripts/underscore/underscore.js")
    script(src="/javascripts/backbone/backbone.js")
    script(src="/javascripts/handlebars/handlebars_1_0_0_beta4.js")
    script(src="/javascripts/jquery/jquery-1_7_1.js")
        
  body!= body