body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#query-form p label {
  text-align: left;
}

#result-header {
  display: none; /* hidden at first, shown via JS */
  margin-bottom: 10px;
}

#result-header h2 {
  display: inline;
}

#clear-results-button {
  margin-bottom: 10px;
  vertical-align: middle;
}

#empty-results-header {
  display: none;
}

.message-column {
  max-width: 350px;
}